extends base.pug

block scripts
    script 
        include ../static/index.js

block style  
    style
      include ../static/AboutUsStyle.css
block content
    section#about
        div#block
            div.paras
                p.bigtext 
                    u End Of Your Search Is Here
                    
                p.smalltext  The Kunal's Contemporary Dance Company (voted India’s Number 1 dance company) and the Kunal Professional Training Institute are widely-acknowledged as the country’s most popular and reputed dance organisations.Together with the Kunal Dance Scholarship Foundation Trust, they make up the KV brand, which fosters creative excellence in the talented, enthusiastic dancer (or aspiring dancer), raising the standards of dance in India and beyond.
                    
            div
                div.thumbnail
                    img(src="../static/img/about1.jpg")
        div#block.secleft
            div.paras
                p.bigtext
                    u Expert Teaching
                p.smalltext  Our talented team of professional dancers and instructors have all been handpicked and personally trained by our founders Kunal and Mahrukh Dumasia; and receive ongoing coaching and regular assessments to ensure that that their skills are up-to-date.
                    
            div
                div.thumbnail
                    img(src="../static/img/about2.jpg")
        div#block
            div.paras
                p.bigtext
                    u About Kunal
                p.smalltext  Kunal is a self-taught artist, who honed his skills mid-career with workshops at the Alvin Ailey School of Dance, New York. He was the first Indian to receive a fully-funded scholarship to study at Impulstanz, Vienna (the world’s leading contemporary dance festival) and is the only regular Indian teacher at Impulstanz. He developed a new style of dance, Indo-Contemporary, using his background in Indian dance and Bollywood with contemporary technique. He was the first Indian member of the UNESCO- International Dance Council - CID- Conseil International de la Danse.
                    
            div
                div.thumbnail
                    img(src="../static/img/about3.jpg")